:root {
  --chat-message-font-size: 16px;
}

.chatWrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 48px);
  min-height: 0;
}

.chatNavigation {
  flex: 0 0 auto;
}

.chatContainer {
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.chatStreamerInfo {
  display: flex;
  align-items: center;
  min-height: 48px;
  padding: 0 16px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.075);
  background: rgba(255, 255, 255, 0.075);

  .chatStreamerInfoContent {
    flex: 1 1 25%;
    display: flex;
    align-items: center;
    gap: 6px;

    .streamerName {
      font-size: 16px;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.7);
    }

    .liveBadgeDot {
      display: inline-block;
      vertical-align: middle;
      min-width: 6px;
      min-height: 6px;
      border-radius: 50%;
      background-color: rgba(255, 0, 0, 0.7);
    }
  }

  .chatStreamerLiveStatus {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 100%;
    padding: 0 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    span {
      color: rgba(255, 255, 255, 0.7);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .chatStreamerInfoActions {
    flex: 1 1 25%;
    display: flex;
    justify-content: end;

    button {
      background: none;
      border: none;
      padding: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      cursor: pointer;
    }

    .chattersBtn {
      opacity: 0.5;
      transition: opacity 0.2s ease;

      &:hover {
        opacity: 1;
      }
    }
  }
}

/** [Chatters] **/

.chattersContainer {
  position: absolute;
  top: 0;
  right: 24px;
  width: 300px;
  height: 50%;
  top: 56px;
  border-radius: 6px;
  background: #0c2214;
  border: 1px solid #314d3c;
  box-shadow: 0px 2px 4px #07150a;
  z-index: -99;
  flex-direction: column;
  opacity: 0;
  display: none;
  animation: fadeIn 0.2s ease-in-out;
  animation-fill-mode: forwards;

  &.open {
    display: flex;
    opacity: 1;
    z-index: 9999;
  }

  .chattersList {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
    overflow-y: auto;

    .chatterListItem {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.5);
      min-height: 32px;
      display: flex;
      align-items: center;
      padding: 0 8px;
      border-radius: 4px;
      width: 100%;
      background-color: transparent;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: #183122;
      }
    }
  }
}

/** [End of Chatters] **/

/** [Pinned Message] **/
.pinnedMessageBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  display: none;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.show {
    display: flex;
  }

  &.open {
    &:hover img {
      opacity: 1;
    }
    img {
      opacity: 1;
    }
  }

  &:hover img {
    opacity: 0.8;
  }

  img {
    opacity: 0.4;
    transition: opacity 0.2s ease;
  }
}

/** [Pinned Message] **/

.pinnedMessage {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  background: #102c1a;
  border: 1px solid #314d3c;
  width: calc(100% - 24px);
  box-shadow: 0px 2px 4px #07150a;
  top: 56px;
  border-radius: 6px;
  display: none;
  gap: 8px;
  flex-direction: column;
  overflow: hidden;
  padding: 16px;
  z-index: 9;

  &.open {
    display: flex;
  }

  &.expanded .pinnedMessageContent > p {
    white-space: wrap;
  }
}

.pinnedMessageFooterContent {
  display: flex;
  gap: 4px;
  color: #71ad7f;
  font-size: 14px;
}

.pinnedMessageFooter {
  display: none;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #213c2c;
  padding-top: 10px;

  &.open {
    display: flex;
  }

  > span {
    font-size: 14px;
    color: #71ad7f;
  }
}

.pinnedMessageFooterUsername {
  display: flex;
  align-items: center;

  > .chatroomBadge {
    margin-right: 4px;

    > img {
      width: 18px;
      height: 18px;
    }
  }

  > span {
    font-weight: 600;
  }
}

.pinnedMessageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > p {
    color: #71ad7f;
    font-size: 14px;
  }
}

.pinnedMessageActions {
  display: flex;
  gap: 4px;

  button {
    background: none;
    border: 1px solid #314d3c;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 20px;
    transition: border-color 0.2s ease;

    &:hover {
      border-color: #50755f;
      > img {
        opacity: 1;
      }
    }

    > img {
      opacity: 0.4;
      transition: opacity 0.2s ease;
    }
  }
}

.pinnedMessageContent {
  > p {
    font-size: 18px;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #c5ebce;
  }

  > span {
    overflow-wrap: break-word;
  }
}

/** [End of Pinned Message] **/

.chatroomsEmptyState {
  height: calc(100vh - 128px);
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  p {
    opacity: 0.5;
  }
}

.chatBody {
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
  padding-top: 8px;
  margin-right: 0;
  display: flex;
  max-width: 100%;
  word-wrap: break-word;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #b6d2c277;
    border-radius: 2px;
    background-clip: content-box;
    min-width: 32px;
    min-height: 32px;
  }
}

/** [Scroll to Bottom Component] **/
.scrollToBottomBtn {
  position: absolute;
  top: -64px;
  left: 0;
  right: 0;
  width: 196px;
  margin: 0 auto;
  height: 40px;
  padding: 0 6px 0 8px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #41fc69;
  background-color: #13e741f5;
  font-weight: 600;
  display: none;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #1fff4ff5;
  }

  &.show {
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: scrollToBottomBtn 0.2s ease forwards;
  }

  > img {
    filter: invert(1);
  }
}

@keyframes scrollToBottomBtn {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
