/** [Chat Input] **/

.chatBoxContainer {
  position: relative;
}

.chatInputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  > .chatInputContainer {
    width: calc(100vw - 32px);
    margin: 0 auto;
    display: flex;
    position: relative;
    min-height: 64px;
    padding-left: 16px;
    z-index: 9;
    align-items: center;
    background: #182f21;
    border: 1px solid rgba(80, 123, 97, 0.5);
    border-bottom: none;
    border-radius: 6px 6px 0 0;
    box-shadow: 0px 2px 2px #07150a;

    input:focus-visible {
      outline: none;
    }
  }
}

.chatInputInfoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  flex-direction: column;
  padding: 0 12px;
  top: 4px;
  left: 0;
  z-index: 1;

  > .replyInputContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
    width: calc(100% - 16px);
    border: 1px solid rgba(80, 123, 97, 0.5);
    border-bottom: none;
    background: #182f21;
    gap: 8px;
    opacity: 1;
    position: relative;
    min-height: min-content;
    top: 0;
    border-radius: 6px 6px 0 0;

    > .replyInputBoxHead {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      > span {
        color: rgba(255, 255, 255, 0.7);
        font-size: 14px;
        letter-spacing: 0.15px;
      }

      > .replyInputCloseButton {
        app-region: no-drag;
        border: 1px solid #ffffff21;
        background-color: transparent;
        cursor: pointer;
        border-radius: 4px;
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition:
          background-color 0.2s ease-in-out,
          border-color 0.2s ease-in-out;

        &:hover {
          background-color: #ffffff21;
          border-color: #ffffff37;

          > img {
            opacity: 1;
          }
        }

        img {
          opacity: 0.5;
          transition: opacity 0.2s ease-in-out;
        }
      }
    }

    > .replyInputBoxContent {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      > span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
      }
    }

    &.show {
      display: flex;
      z-index: 1;
      animation: replySlideAndFadeIn 0.15s ease-in-out forwards;
    }
  }

  > .chatInfoBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid rgba(80, 123, 97, 0.5);
    border-bottom: none;
    z-index: 1;
    background: #213c2c;
    margin: 0 8px;
    height: 32px;
    width: calc(100% - 16px);
    border-radius: 6px 6px 0 0;
    font-size: 14px;
    color: #668d75;
    animation: slideAndFadeIn 0.2s ease-in-out forwards;

    > .chatInfoBarIcon {
      position: relative;

      > .chatInfoBarIconTooltipContent {
        display: none;
        position: absolute;
        bottom: 32px;
        right: -8px;
        width: max-content;
        max-width: 240px;
        background-color: rgba(23, 41, 29, 0.9725490196);
        border: 1px solid #3a5343;
        border-radius: 4px;
        padding: 16px 12px;
        color: #6a8875;
        gap: 4px;
        flex-direction: column;
        z-index: 9999;

        &.show {
          display: flex;
        }
      }

      > .chatInfoBarIconTooltip {
        opacity: 0.4;
        transition: opacity 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

.chatInputBox {
  flex: 1 1 auto;
  min-width: 0;
  margin-top: 0;
  position: relative;

  .chatInput {
    border-bottom: 0;
    border-radius: 6px 0 0 0;
    border-right: none;
    display: inline-flex;
    max-height: 148px;
    overflow-y: auto;
    height: 100%;
    overflow-x: hidden;
    width: 100%;
    color: #fff;
    caret-color: rgba(80, 123, 97, 0.8);
    outline: 0px solid transparent;
    outline-offset: 0px;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-corner {
      background: rgba(255, 255, 255, 0.429);
    }

    &::-webkit-scrollbar-thumb {
      background-color: #b6d2c277;
      border-radius: 2px;
      background-clip: content-box;
      min-width: 32px;
      min-height: 32px;
    }

    &::-webkit-scrollbar-track {
      background-color: #ffffff26;
    }
  }

  .chatInputPlaceholder {
    color: #daffe88a;
    z-index: 99;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    pointer-events: none;
    user-select: none;
    padding: 0;
    margin: 0;
  }
}

.chatInputActions {
  display: flex;
  align-items: center;
  padding: 0 12px;
  min-width: 112px;
  max-width: 112px;
  justify-content: center;
  border-left: 1px solid rgba(80, 123, 97, 0.3);

  &.replyThread {
    border-left: none;
    display: none;
  }
}

.editor-paragraph {
  padding-right: 16px;
  width: 100%;
  line-height: 32px;

  > * {
    display: inline;
    max-width: 100%;
  }

  *::selection {
    background-color: rgba(80, 123, 97, 0.5);
  }
}

.emoteContainer {
  > img {
    vertical-align: middle;
    height: 24px;
    margin: 0 1px;
  }
}

.chatEmoteBtns {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  gap: 0px;
  height: 38px;
  overflow: hidden;
  border-radius: 4px;

  > .emoteBtnSeparator {
    height: 100%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.05);
  }
}

.emoteBtn {
  background: none;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  width: 56px;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
    img {
      opacity: 1;
    }
  }

  &.activeDialog {
    background-color: rgba(255, 255, 255, 0.2);
    img {
      opacity: 1;
    }
  }

  img {
    vertical-align: middle;
    height: 24px;
    width: 24px;
    opacity: 0.5;
    transition: opacity 0.2s ease;
  }
}

/** [End of Chat Input] **/

/** [Emote Dialogs] **/
.emoteDialog {
  flex-direction: column;
  position: absolute;
  bottom: 80px;
  right: 0;
  border-radius: 8px;
  padding: 4px;
  width: 100%;
  max-width: 550px;
  height: 280px;
  background-color: rgba(22, 34, 25, 0.95);
  border: 1px solid #314d3c;
  box-shadow: 0 4px 5px rgba(2, 10, 5, 0.5019607843);
  z-index: 99;
  display: none;
  overflow: hidden;

  &.show {
    display: flex;
    animation: slideAndFadeIn 0.3s ease-in-out forwards;
  }
}

.dialogBody {
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-y: auto;
  border-radius: 6px;
  flex: 1;
  padding-right: 4px;
}

.dialogBodyEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 24px);
  opacity: 0.5;
  > p {
    font-size: 18px;
    color: #fff;
  }
}

.dialogHeadEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  opacity: 0.5;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: #405a45;
  border-radius: 2px;
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px;
}

.dialogHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;

  > .dialogHeadTitle {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 0 0 25%;
    justify-content: flex-start;
  }

  > .dialogHeadMenuItems {
    display: flex;
    align-items: center;
    gap: 4px;
    flex: 0 0 25%;
    justify-content: flex-end;

    > .dialogHeadMenuItem {
      height: 32px;
      width: 32px;
      border-radius: 4px;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ffffff33;
      cursor: pointer;
      transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;

      &:hover {
        background-color: #ffffff21;
        border-color: #ffffff37;
      }

      &.active {
        background-color: #53ff245b;
        border-color: #54ff249d;

        > img {
          opacity: 1;
        }
      }

      > img {
        opacity: 0.5;
        transition: opacity 0.2s ease-in-out;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  > .dialogHeadSearch {
    flex: 1;
    display: flex;
    justify-content: center;

    input {
      width: 90%;
      max-width: 240px;
      padding: 8px;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.0784313725);
      border: 1px solid rgba(255, 255, 255, 0.1294117647);
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      outline: none;
      transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;

      &:hover {
        background-color: #ffffff21;
        border-color: #ffffff37;
      }

      &::placeholder {
        color: #ffffff91;
      }
    }
  }

  > .dialogHeadTitle > img {
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

.dialogBodySection {
  background-color: #1e2d21;
  border-radius: 8px;
  padding: 12px;
  min-height: calc(50% - 12px);
  overflow: hidden;
  transition: height 0.2s ease-in-out;
  &.opened {
    background-color: #1e2d21;
    min-height: max-content;

    .dialogRowHeadBtn > img {
      transform: rotate(180deg);
    }
  }

  > .emoteItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;

    > .emoteItem {
      height: 40px;
      padding: 4px;
      border-radius: 4px;
      border: 1px solid #314d3c;
      background: none;
      cursor: pointer;
      aspect-ratio: 1 / 1;

      img {
        height: 32px;
        width: fit-content;
        vertical-align: middle;
      }
    }
  }
}

.dialogRowHeadBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;

  > img {
    opacity: 0.5;
    transition:
      transform 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
  }

  &:hover > img {
    opacity: 1;
  }
}

.dialogRowHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;

  > span {
    font-size: 14px;
    font-weight: 400;
    color: #779c85;
  }
}

/** [End of Emote Dialogs] **/

/** [Emote Suggestions] **/

.inputSuggestionsWrapper {
  background: rgba(16, 33, 23, 0.9);
  border: 1px solid #294133;
  border-radius: 6px;
  height: 180px;
  position: absolute;
  left: 0;
  bottom: 72px;
  z-index: 9999;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;

  &.show {
    display: block;
  }
}

.emoteTags {
  white-space: nowrap;
  display: flex;
  gap: 4px;
}

.inputSuggestions {
  display: flex;
  height: 100%;
  gap: 4px;
  flex-direction: column;

  &.show {
    display: block;
  }
}

.inputSuggestion {
  display: flex;
  align-items: center;
  background: transparent;
  border: 1px solid transparent;
  gap: 8px;
  cursor: pointer;
  width: 100%;
  max-height: 56px;
  padding: 8px;
  border-radius: 4px;
  transition:
    background 0.15s ease-in-out,
    border 0.15s ease-in-out;

  &:hover,
  &.selected {
    background: #1c36279e;
    border: 1px solid #355342;

    span {
      color: #afd5bd;
    }
  }

  > .inputSuggestionImage {
    flex-shrink: 0;
    min-width: 32px;
    min-height: 32px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-height: 32px;
      object-fit: cover;
    }
  }

  > .inputSuggestionInfo {
    display: flex;
    justify-content: space-between;
    flex: 1;
    min-width: 0;
    align-items: center;
    .emoteTags > span {
      border: 1px solid rgba(42, 77, 57, 0.6);
      padding: 4px 8px;
      border-radius: 4px;
      color: #3e5c4a;
      font-weight: 700;
      font-size: 12px;
    }
  }

  span {
    font-size: 16px;
    font-weight: 600;
    flex: 1 1 100%;
    color: #779c85;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.15s ease-in-out;
    max-width: min-content;
    padding-right: 12px;
  }
}
/** [End of Emote Suggestions] **/

@keyframes slideAndFadeIn {
  0% {
    transform: translateY(24px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes replySlideAndFadeIn {
  0% {
    transform: translateY(24px);
    opacity: 0;
  }
  100% {
    transform: translateY(-4px);
    opacity: 1;
  }
}
