.settingsWrapper {
  position: absolute;
  top: 48px;
  background-color: #17291df8;
  border: 1px solid #3a5343;
  width: 324px;
  height: max-content;
  max-height: 456px;
  z-index: 99;
  margin: 0 auto;
  left: 0;
  right: 0;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  overflow-y: auto;
  box-shadow: 0px 8px 9px #030f08ba;
  transition: all 0.2s ease-in-out;
}

.settingsWrapper::-webkit-scrollbar {
  width: 8px;
}

.settingsWrapper::-webkit-scrollbar-corner {
  background: rgba(255, 255, 255, 0.429);
}

.settingsWrapper::-webkit-scrollbar-thumb {
  background-color: #b6d2c277;
  border-radius: 2px;
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px;
}
.settingsWrapper::-webkit-scrollbar-track {
  background-color: #ffffff26;
}

.settingsWrapper.show {
  top: 48px;
  opacity: 1;
  pointer-events: all;
}

.settingsHead {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settingsLogoutButton {
  background: none;
  display: flex;
  border: none;
  cursor: pointer;
}

.settingsLogoutButton > img {
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;
}

.settingsLogoutButton:hover > img {
  opacity: 1;
}

.settingsDivider {
  display: block;
  height: 1px;
  width: 100%;
  background-color: #3a5343;
}

.miniDivider {
  display: block;
  height: 1px;
  margin: 8px 0;
  width: 100%;
  background-color: #23372a;
}

.settingsSection {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  h5 {
    color: #6a8875;
  }
}

.aboutDevelopers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
  gap: 8px;
  background: #0e1e15;

  span {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 500;
  }

  .aboutDevelopersList {
    display: flex;
    gap: 16px;
    > .aboutDeveloper > a {
      color: #ffffffa1;
      transition: 0.2s ease-in-out color;
      font-size: 14px;
      font-weight: 700;
      &:hover {
        color: white;
      }
    }
  }
}

.settingsSwitch {
  display: flex;
  gap: 12px;
  align-items: center;
}

.settingsSwitch input {
  background-color: grey;
}

.timestampFormat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 4px;
  transition: color 0.2s ease-in-out;
  &:hover {
    > span {
      color: rgba(255, 255, 255, 1);
      transition: color 0.2s ease-in-out;
    }
  }

  > span {
    color: rgba(255, 255, 255, 0.5);
  }

  select {
    padding: 4px 8px;
    border-radius: 6px;
    background-color: #23372a;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
  }
}

.settingSwitchItem {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.settingSwitchItem > .checkBox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1.5px solid #3a5343;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    border-color 0.15s ease-in-out,
    background-color 0.15s ease-in-out;
}

.settingSwitchItem > .checkBox > img {
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}

.settingSwitchItem.checked > .checkBox > img {
  opacity: 1;
}

.settingSwitchItem > span {
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.15s ease-in-out;
}

.settingSwitchItem.checked > span {
  color: rgba(255, 255, 255, 1);
}

.settingSwitchItem.checked > .checkBox {
  border-color: #00c94a;
  background-color: #00c94aaf;
}

.notificationOptions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.notifications {
  display: flex;
}

.notificationPhrases {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.highlightPhrases {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.highlightPhrase {
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: 100%;
  padding: 8px 8px 8px 10px;
  background: rgba(80, 123, 97, 0.2);
  border-radius: 4px;
  font-size: 16px;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.highlightPhrase button {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  padding: 0 4px;
  font-size: 16px;
}

.highlightAddPhrase input {
  width: 100%;
  padding: 8px;
  background: rgba(24, 47, 33, 0.5);
  border: 1px solid rgba(80, 123, 97, 0.3);
  border-radius: 4px;
  color: white;
  font-size: 14px;
  transition: 0.15s all ease-in-out;
}

.highlightAddPhrase input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.highlightAddPhrase input:focus {
  outline: none;
  border-color: #3a5343;
  background: rgba(24, 47, 33, 0.7);
}

/** [Color Picker] */
.colorPicker {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.colorPickerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.colorPickerHeader > p {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
  transition: color 0.15s ease-in-out;
}

.colorPickerHeader:hover > p {
  color: rgba(255, 255, 255, 1);
}

.colorPickerPreview {
  width: 48px;
  height: 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.colorPickerPreviewInner {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.colorPickerDialog {
  display: none;
  position: absolute;
  background: #3a5343;
  padding: 8px;
  bottom: 32px;
  right: 0;
  border-radius: 8px;
  z-index: 99;
}

.colorPickerDialog.show {
  display: block;
}

.react-colorful {
  width: 100%;
}

.colorPickerDialog input {
  max-width: 100%;
  padding: 8px;
  margin-top: 8px;
  background: rgba(24, 47, 33, 0.5);
  border: 1px solid rgba(80, 123, 97, 0.3);
  border-radius: 4px;
  color: white;
  font-size: 14px;
  transition: 0.15s all ease-in-out;
}

.colorPickerDialog input:focus {
  outline: none;
  border-color: rgba(80, 123, 97, 0.72);
  background: rgba(24, 47, 33, 0.7);
}
