.titleBar {
  min-height: 48px;
  background-color: #ffffff0a;
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  app-region: drag;
}

.updater {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  border-radius: 4px;
  width: max-content;
  app-region: no-drag;
  transition: 0.2s ease-in-out background-color;

  &.updateAvailable {
    display: flex;
    background-color: rgba(255, 141, 27, 0.5);
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 141, 27, 0.773);

      button {
        opacity: 1;
      }
    }

    button {
      opacity: 0.8;
      background-color: #ffffff0a;
      transition:
        0.2s ease-in-out background-color,
        0.2s ease-in-out opacity;
    }
  }
}

.titleBarLeft {
  height: 100%;
  align-items: center;
  display: flex;
  gap: 8px;
  flex: 1 1 25%;

  span {
    margin-left: 16px;
    font-size: 14px;
    color: rgb(54, 99, 51);
  }
}

.titleBarRight {
  height: 100%;
  flex: 1 1 25%;
  align-items: center;
  display: flex;
  app-region: drag;

  .titleBarSettingsBtn {
    app-region: no-drag;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #182f21;
    border: none;
    border-radius: 4px;
    padding: 4px;
    cursor: pointer;
    transition: 0.2s ease-in-out background-color;
  }
}

.titleBarControls {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  justify-content: flex-end;

  > button {
    app-region: no-drag;
    display: flex;
    align-items: center;
    width: 48px;
    justify-content: center;
    height: 48px;
    background-color: transparent;
    border: none;
    opacity: 0.4;
    transition:
      0.15s ease-in-out opacity,
      0.15s ease-in-out background-color;
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      opacity: 0.8;
      cursor: default;
    }

    &.close:hover {
      background-color: rgb(212, 0, 0);
    }
  }
}

.titleBarSettings {
  display: flex;
  app-region: drag;

  &.open {
    button {
      opacity: 0.8;
    }

    > button > svg {
      transform: rotate(180deg);
    }
  }

  button:hover {
    opacity: 0.8;
  }

  > button > svg {
    fill: white;
    transition: 0.1s transform ease-in-out;
  }

  span {
    font-weight: 600;
    color: white;
  }
}

.titleBarSettingsBtn {
  app-region: no-drag;
  display: flex;
  align-items: center;
  height: 100%;
  background-color: transparent;
  border: none;
  gap: 4px;
  opacity: 0.5;
  cursor: pointer;
  outline: none;
  transition: 0.2s ease-in-out opacity;
}

.titleBarLoginBtn {
  app-region: no-drag;
  flex: 1 1 40%;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-weight: 600;
  background-color: #182f21;
  cursor: pointer;
  border: none;
  min-width: 40px;
  padding: 4px 16px;
  border-radius: 2px;
  transition: 0.2s ease-in-out opacity;
}
